/* CSS Document */

/*** PAGE ***/
div#page {
	width:100%;
	height:auto;
	margin:auto;
	border:solid 0px red;
}
div#list-musica  .list-item .video{
	width:45%;	
}
div#list-musica  .list-item .video .iframeVideo{
	height:140px;
}
div#list-musica  .list-item .desVideo{
	width:50%;
}